name: Add new issues to Project Backlog

on:
  issues:
    types: [opened]

permissions:
  contents: read
  issues: write

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add issue to Project Backlog
        uses: actions/add-to-project@v0.6.1
        with:
          project-url: https://github.com/users/CryptoYogiLLC/projects/3
          github-token: ${{ secrets.PROJECTS_TOKEN }}
          fields: '{"Status":"Backlog"}'
